

#language-list {
  display: flex;
  flex-wrap: wrap;
}

.language {
  flex: 1 1 250px;
  margin: 10px;  
  border: 1px solid lightgrey;
  padding: 10px;
}

@media (max-width: 600px) {
  .language {
    flex-basis: 100%;
  }
}  
